{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>wiki::Статьи</title>
    {% endblock %}
</head>
<body>

{% block content %}
<link type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet"/>
<nav class="navbar navbar-expand-lg bg-light">
<div class="container-fluid">

<form class="d-flex" method="get" role="search">
        {{ form_search.as_p }}
    <!--type="submit"-->
        <button class="btn btn-outline-success" type="button"
                onclick="insertParam('topic', document.getElementById('topic').value)">Search
        </button>
      </form>
</div>
</nav>

   <form method="get">
    {{ form.as_p }}
    </form>

    {% for post in posts %}
<br><br>
        <strong> Тема: {{ post.topic }}</strong> <br>
        {{ post.content|linebreaks|truncatewords:50 }} <br>
        Категория: {{ post.category.name }} <br>
        Автор: {{ post.author.username }} <br>
        Рейтинг статьи: {{ post.rating_article }} <br>
        Число просмотров: {{ post.number_views }} <br>
    {% endfor %}

    {% include 'articles/base_pagination.html' %}
{% endblock %}
</body>
</html>